<%= if !Enum.member?([@type, @color, @img, @id], nil) do %>
	<img class="piece <%= if @dragging, do: 'hidden' %>" src="<%= @img %>"
		 id="<%= @id %>"
		 row="<%= @row %>"
		 col="<%= @col %>"
		 draggable="false">
<% end %>
