<div>
	<%= if !(is_nil(@type) or is_nil(@color) or is_nil(@img)) do %>
		<%= if @type == :pawn do %>
			<img class="largepiece" src=<%= @img %>>
		<% else %>
			<img class="piece" src=<%= @img %>>
		<% end %>
	<% end %>
</div>
