<div>
	<%= if !(is_nil(@type) or is_nil(@color) or is_nil(@img)) do %>
		<img class="<%= if @type == :pawn, do: 'largepiece', else: 'piece' %> <%= if @selected, do: 'opacity-60' %>"
				 src="<%= @img %>">
	<% end %>
</div>
